In this engine, we are using users best 3 scores (extensible to five) as the user vector

In [1]:
import pandas as pd
import numpy as np

In [2]:
users_features=pd.read_csv("users_features.csv")
users_ratings= pd.read_csv=('users_course_ratings.csv')
users_scores=pd.read_csv("users_scores.csv")
stud_subjects = [89, "Mathematics","Chemistry","Financial Accounting"]
stud_scores = [89, 67, 52,45]

In [20]:
stud_subjects = [89, "Mathematics","Chemistry","Financial Accounting"]
stud_subjects=pd.DataFrame(stud_subjects)

In [50]:
# Function to check for at least two of the new subjects in old data
# returns an array of list. If list is empty, go and use another function. Not working yet

cols=["best subject1","best subject2","best subject3"]
#users_features.loc["best subject1","best subject2","best subject3"]
#users_features.filter(["best subject1","best subject2","best subject3"], like='Mathematics', axis=0)
#match=user_features[(user_features)]
#users_features.loc[:, cols]
#users_features.loc[:, cols] in stud_subjects.any()

user_ind=[]
for index, row in users_features.iterrows:
    if row.str.contains(stud_subjects) 
    user_ind.append(index)
#print(user_ind)


for index, row in users_features.iterrows():
    print(row)
    for ele in stud_subjects:
        num=0
        if row.str.contains("ele"): 
            num+=1
        if num>=2:
            user_ind.append(index)

print(user_ind)
    

cond=[]

#new = user_features['best subject1'].isin(['Mathematics'])
#for index, row in users_features.iterrows:

users ID                   1
best subject1      chemistry
best subject2    Mathematics
best subject3        Physics
Name: 0, dtype: object

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [29]:
users_features

   users ID         best subject1     best subject2         best subject3
0         1             chemistry       Mathematics               Physics
1         2               Biology       Mathematics      English Language
2         3  Agricultural Science  English Language             Chemistry
3         4               Physics  English Language             chemistry
4         5               Physics       Mathematics             chemistry
5         6           Mathematics  English Language  Agricultural Science
6         7               Biology       Mathematics             Chemistry
7         8               Physics  English Language             Chemistry
8         9           Mathematics           Physics      English Language
9        10               Biology         Chemistry           Mathematics

In [8]:
new_user=pd.DataFrame( data=[stud], 
                       columns= ['users ID', "best subject1","best subject2","best subject3"])
#features_cat=pd.concat([users_features,new_user],sort=None)

TypeError: 'str' object is not callable

In [66]:
print(users_ratings.head())

AttributeError: 'str' object has no attribute 'head'

In [3]:
users_features.dtypes

users ID          int64
best subject1    object
best subject2    object
best subject3    object
dtype: object

In [195]:
stud = [89, "Mathematics","Commerce","Financial Accounting"]

In [196]:
new_user=pd.DataFrame( data=[stud], 
                       columns= ['users ID', "best subject1","best subject2","best subject3"])
new_user

   users ID best subject1 best subject2         best subject3
0        89   Mathematics      Commerce  Financial Accounting

In [235]:
#data is string, have to convert to category, in a new dataframe
# alt. initialize with np.zeros, with shape of existing df and append values. More complex
# joining old data and new data into ne datafram to then compare from 

#features_cat=pd.concat([users_features,new_user],sort=None)
#student_feat_cat=pd.DataFrame()
#features_cat.append(users_features)

#student_feat_cat['users ID']=new_user['users ID']
#student_feat_cat['best subject1']=new_user['best subject1'].astype('category').cat.codes
#student_feat_cat['best subject2']=new_user['best subject2'].astype('category').cat.codes
#student_feat_cat['best subject3']=new_user['best subject3'].astype('category').cat.codes

features_cat['users ID']=features_cat['users ID']
features_cat['best subject1']=features_cat['best subject1'].astype('category').cat.codes
features_cat['best subject2']=features_cat['best subject2'].astype('category').cat.codes
features_cat['best subject3']=features_cat['best subject3'].astype('category').cat.codes
#features_cat.set_index('users ID', inplace=True)

In [236]:
features_cat

   users ID  best subject1  best subject2  best subject3
0         1              4              3              5
1         2              1              3              2
2         3              0              2              1
3         4              3              2              6
4         5              3              3              6
5         6              2              2              0
6         7              1              3              1
7         8              3              2              1
8         9              2              4              2
9        10              1              0              4
0        89              2              1              3

In [93]:
# Testing how corrwith works

#dfa= pd.DataFrame(np.zeros((1,4)) ,columns=['a','b','c','d'])
#dfa.iloc[0] = [2,6,8,12]
#dfb= pd.DataFrame([[2,6,8,12],[1,3,4,6],[-1,-3,-4,-6]], columns=['a','b','c','d'])

#dfb.corrwith(dfa.iloc[0], axis=1)

#user_feat.corrwith(new_user.iloc[0], axis=1)

0    1.0
1    1.0
2   -1.0
dtype: float64

In [283]:
# trying to get my corr as a key (index) : value dictionary

#help(dict)
user_corr={}
#user_corr[8]=0
#index=8
#features_cat.iloc[index].corr(new_user_cat)
#features_cat.index, features_cat.corrwith(new_user_cat,axis=1)
#for i in features_cat:
#    user_corr[features_cat.index]=features_cat.iloc[index].corr(new_user_cat)

#user_corr
#cor={}
#ftn=features_cat.set_index("users ID")
#us_cat=features_cat.iloc[-1]
#for index, row in ftn.iterrows():
#    cor[index]=row
#    print(index)
#    print(row)
#new_user_cat=new_user_cat.drop("users ID")

for index,row in ftn.iterrows():
    cor[index]=row.corr(us_cate)
#print(ftn.dtypes)
#print(us_cat["users ID"])
#us_cat.set_index("users ID")
#us_cate=us_cat.drop("users ID")
#us_cate
print(ftn)
print(us_cate.shape)
print(cor)

          best subject1  best subject2  best subject3
users ID
1                     4              3              5
2                     1              3              2
3                     0              2              1
4                     3              2              6
5                     3              3              6
6                     2              2              0
7                     1              3              1
8                     3              2              1
9                     2              4              2
10                    1              0              4
89                    2              1              3
(3,)
{1: 1.0, 2: -0.5, 3: -0.5, 4: 0.9607689228305228, 5: 0.8660254037844387, 6: -0.8660254037844387, 7: -0.8660254037844385, 8: -0.5, 9: -0.8660254037844387, 10: 0.9607689228305228, 89: 1.0}

In [312]:
# Sorting dictionary to get top n users with highest correlation 

print(sorted(cor.values()))
#for key,val in sorted(cor.values):
#   print(key,val)

top_corr_users=[]
print ('Sort by items:')
for key, value in sorted(cor.items(), key=lambda item: (item[1], item[0]), reverse = True)[1:6]:
    print ("%s: %s" % (key, value))
    top_corr_users.append(key)
print("Top correlating users are %s" % top_corr_users)

[-0.8660254037844387, -0.8660254037844387, -0.8660254037844385, -0.5, -0.5, -0.5, 0.8660254037844387, 0.9607689228305228, 0.9607689228305228, 1.0, 1.0]
Sort by items:
1: 1.0
10: 0.9607689228305228
4: 0.9607689228305228
5: 0.8660254037844387
8: -0.5
Top correlating users are [1, 10, 4, 5, 8]

In [281]:
#Actual correlation
# first, get new user weights then drop from total user features then get correlation between them 

#new_user_cat=features_cat.iloc[-1]
#features_cat.drop(features_cat.index[-1], inplace=True)
ft=zip(features_cat.index, features_cat.corrwith(new_user_cat,axis=1))
a,n=zip(*ft)
#n.sort()
print(features_cat.shape)
print(new_user_cat.shape)

(11, 4)
(4,)

In [192]:
new_user_cat

best subject1             Mathematics
best subject2                Commerce
best subject3    Financial Accounting
Name: 89, dtype: object

In [78]:
#users_features.append(new_user)

ft=pd.concat([users_features,new_user],sort=None)

In [79]:
ft

   users ID         best subject1     best subject2         best subject3
0         1             chemistry       Mathematics               Physics
1         2               Biology       Mathematics      English Language
2         3  Agricultural Science  English Language             Chemistry
3         4               Physics  English Language             chemistry
4         5               Physics       Mathematics             chemistry
5         6           Mathematics  English Language  Agricultural Science
6         7               Biology       Mathematics             Chemistry
7         8               Physics  English Language             Chemistry
8         9           Mathematics           Physics      English Language
9        10               Biology         Chemistry           Mathematics
0        89           Mathematics          Commerce  Financial Accounting