In [1]:
from surprise import SVD

ModuleNotFoundError: No module named 'surprise'

In [1]:
%config IPCompleter.greedy=True

import numpy as np 
import pandas as pd

In [26]:
df=pd.read_excel("coursesubject.xlsx", sheet_name=0, index="Course")

In [27]:
df.head()

                   Course               Subject  Rating
0  Mechanical Engineering  Financial Accounting        9
1                 Nursing               Physics        8
2               Chemistry           Mathematics        7
3       Civil Engineering               Physics       10
4             Accounting                Physics        9

In [14]:
courses=df["Course"].unique()
print(courses)

['Mechanical Engineering' 'Nursing' 'Chemistry' 'Civil Engineering'
 'Accounting ' 'Computer Science' 'Psychology' 'Anatomy' 'Physics'
 'Medicine' 'Law']

In [30]:
n=df.loc(df["Course"]=="Nursing")

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [21]:
df["Course"]

0     Nursing
1     Nursing
2     Nursing
3     Nursing
4     Nursing
5     Nursing
6     Nursing
7     Nursing
8     Nursing
9     Nursing
10    Nursing
11    Nursing
12    Nursing
13    Nursing
14    Nursing
15    Nursing
16    Nursing
17    Nursing
18    Nursing
19    Nursing
20    Nursing
21    Nursing
22    Nursing
23    Nursing
24    Nursing
25    Nursing
26    Nursing
27    Nursing
28    Nursing
29    Nursing
30    Nursing
31    Nursing
32    Nursing
33    Nursing
34    Nursing
35    Nursing
36    Nursing
37    Nursing
38    Nursing
39    Nursing
40    Nursing
41    Nursing
42    Nursing
43    Nursing
44    Nursing
45    Nursing
46    Nursing
47    Nursing
48    Nursing
49    Nursing
Name: Course, dtype: object